---
import { GITHUB_URL, EMAIL, LINKEDIN_URL } from '../data/constants';

export const FOOTER_LINKS = [
  {
    href: `mailto:${EMAIL}`,
    name: 'email',
  },
  {
    href: '/resume.pdf',
    name: 'resume',
  },
  {
    href: LINKEDIN_URL,
    name: 'linkedin',
  },
  {
    href: GITHUB_URL,
    name: 'github',
  },
];
---

<footer>
  <nav>
    <ul class="flex gap-6">
      {
        FOOTER_LINKS.map(({ href, name }) => (
          <a
            class="text-medium text-neutral-400 hover:text-black dark:text-neutral-400 dark:hover:text-inherit transition-colors"
            target="_blank"
            href={href}
          >
            {name}
          </a>
        ))
      }
    </ul>
  </nav>
</footer>
