---
const linkStyles =
  'text-medium text-neutral-400 hover:text-black dark:text-neutral-400 dark:hover:text-inherit transition-colors';
---

<footer>
  <nav>
    <ul class="flex gap-6">
      <li>
        <a
          class={linkStyles}
          target="_blank"
          href="mailto:taylorbradleyr@gmail.com">email</a
        >
      </li>
      <li>
        <a class={linkStyles} target="_blank" href="/resume.pdf">resume</a>
      </li>
      <li>
        <a
          class={linkStyles}
          target="_blank"
          href="https://www.linkedin.com/in/bradleyroberttaylor/">linkedin</a
        >
      </li>
      <li>
        <a
          class={linkStyles}
          target="_blank"
          href="https://github.com/BradleyRobertTaylor">github</a
        >
      </li>
    </ul>
  </nav>
</footer>
