<footer>
  <nav>
    <ul class="flex gap-6">
      <li><a href="mailto:taylorbradleyr@gmail.com">email</a></li>
      <li><a href="#">resume</a></li>
      <li><a href="https://www.linkedin.com/in/bradleyroberttaylor/">linkedin</a></li>
      <li><a href="https://github.com/BradleyRobertTaylor">github</a></li>
    </ul>
  </nav>
</footer>
