<header class="w-full mb-24">
  <div class="flex flex-col">
    <h1 class="flex flex-col font-semibold">
      <a class="-mb-1 w-fit" href="/">Bradley Taylor</a>
      <span class="text-neutral-500 dark:text-neutral-400"
        >Software Engineer</span
      >
    </h1>
  </div>
</header>
