---
const linkStyles = "underline underline-offset-4 decoration-1 hover:dark:decoration-neutral-400 dark:decoration-neutral-500 transition-colors";
---

<main class="max-w-md">
  <div class="flex flex-col gap-4 font-medium">
    <h1>
      <a class="font-semibold" href="/">bradley taylor*</a>
    </h1>
    <p>
      Software engineer based in Las Vegas, NV. 
    </p>
    <p>
      Currently I work at <a class={linkStyles} href="https://www.qlik.com/us/products/qlik-automl">Qlik</a>, building microservices for automated
      machine learning software.
    </p>
    <p>
      Previously I co-created <a class={linkStyles} href="https://smooth-sail.github.io/">SmoothSail</a>, an open source feature flag management tool.
    </p>
  </div>
</main>
