---
import Layout from '../../layouts/Layout.astro';
import Prose from '../../components/Prose.astro';
import { getCollection, render } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout>
  <main class="max-w-[620px] w-full">
    <h1 class="mb-9 font-semibold text-2xl">
      {post.data.title}
    </h1>
    <Prose>
      <Content />
    </Prose>
  </main>
</Layout>
