---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import BaseLayout from './BaseLayout.astro';
---

<BaseLayout>
  <div class="p-8 sm:p-12 md:p-24">
    <div class="max-w-[580px] flex flex-col items-center">
      <Header />
      <main class="pb-32">
        <slot />
      </main>
      <Footer />
    </div>
  </div>
</BaseLayout>
